.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.inputSearch {
    width: 30%;
}

.info {
    text-align: center;
    margin: 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.personCard {
    display: "flex";
    flex-direction: column;
    border: 1px solid teal;
    padding: 10px;
}

.imageCard {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: cover;
}

.imagePerson {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.infoPerson {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-between;
    gap: 10px;
}

.nickname {
    position: relative;
    cursor: pointer;
}

.fullName {
    position: absolute;
    display: none;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 3px;
    padding: 5px;
    font-size: small;
    bottom: 100%;
    left: 5%;
}

.nickname:hover .fullName {
    display: block;
}

.buttonPage {
    padding: 7px 12px;
    margin: 10px;
    background-color: rgba(0, 128, 128, 0.3);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.buttonPage:disabled {
    background-color:lightgray;
    color: black;
    cursor: auto;
}

@media (max-width: 768px) {
    .inputSearch {
        width: 50%;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .buttonPage {   
        padding: 5px 10px;     
        margin: 5px;        
    }
}